/* 全局設定 */


/* 開頭動畫 page_opening */
#page_opening {
    text-align: center;
}
#content_page_opening {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
}
/* 動畫畫面 */
#div_opening_animation,
#div_opening_animation div,
#div_opening_animation img,
#div_opening_animation h1,
#div_opening_animation p {
    position: absolute;
    color:white;
    /* 切換動畫div顯示或關閉 */
    visibility: hidden;
}
#background_opening_animation {
    width: 100vw;
    height: 100vh;
    background-color: black;
}
#logo_icon_background {
    left: 50vw;
    top: 45vh;
    transform: translate(-50%, -50%);
    width: 35vw;
}
#div_opening_animation h1,p {
    left: 50vw;
    transform: translate(-50%, -50%);
}
#div_opening_animation h1 {
    top: 55vh;
    width: 15em;
    font-weight: normal;
    font-size: 1.3em;
}
p {
    top: 70vh;
    width: 100vw;
    font-size: 1.5em;
}
/* 動畫設定 */
@keyframes opening_animation {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}
#logo_icon_background,
#div_opening_animation h1,
#div_opening_animation p {
    animation: opening_animation 3s linear 0s 1 normal;
}

/* audio {
    position: absolute;
    left: 0;
    bottom: 0;
    這個記得刪除
} */

/* 紀錄睡眠 page_form */
#page_form {
    text-align: center;
}

    /* iframe */
#page_form_form {
    overflow: auto;
    height: 80vh;
}

#page_form_form
,iframe {
    margin: 0px;
    padding: 0px;
    border: none;
}

iframe {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    overflow-y: auto;
    overflow-x: hidden;
}

/* 送出表單結果 */
#page_form_result {
    text-align: center;
}
    /* iframe */
#page_form_result_content {
    overflow: auto;
    height: 80vh;
}

#page_form_result_content
, #page_form_result iframe {
    margin: 0px;
    padding: 0px;
    border: none;
}

#page_form_result iframe {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    overflow-y: auto;
    overflow-x: hidden;
}