.white_font_color {
    color: white;
}

/* 開頭動畫 page_opening */
#page_opening {
    text-align: center;
}
#content_page_opening {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
}
/* 動畫畫面 */
#div_opening_animation,
#div_opening_animation div,
#div_opening_animation img,
#div_opening_animation h4,
#div_opening_animation p {
    position: absolute;
    /* visibility: hidden; */
    /* 這一段程式用來切換動畫div顯示或關閉 */
}
#background_opening_animation {
    width: 100vw;
    height: 100vh;
    background-color: black;
}
#logo_icon_background {
    left: 50vw;
    top: 45vh;
    transform: translate(-50%, -50%);
}
h4,p {
    left: 50vw;
    transform: translate(-50%, -50%);
}
h4 {
    top: 57vh;
    width: 15em;
}
p {
    top: 70vh;
    width: 100vw;
    font-size: 1.5em;
}
/* 動畫設定 */
/* @keyframes opening_animation{
    0% {width: 0px;}
    100% {width: 192px;}
}
#logo_icon_background{
    animation: opening_animation 2s linear 0s 1 normal;
} */

audio {
    position: absolute;
    left: 0;
    bottom: 0;
    /* 這個記得刪除 */
}